<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="real_facts">
            <img src="images/ReactFacts.png" alt="">
        </div>
    
    <div class="note_section">
        <div class="note_header">
            Note:
        </div>
        <div class="note_body_section">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aut magni rem ullam vitae. Ipsam commodi animi similique, incidunt earum vitae corrupti reiciendis molestias beatae laborum nulla quas assumenda in.
        </div>
    </div>
</div>
</body>
</html>